<IfModule mod_rewrite.c>
    RewriteEngine On

    # Если файл или директория не существуют, перенаправление на index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
